.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex:1;
  min-width: 50%;
}

.details{
  background-color: red;
  height: 50%;
}

.title{
  padding-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.carousel-img {
  width: fit-content;
  display: inline-block;
  justify-content: center
}

.select-container{
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content:center;
  align-items: center;
}

.select-text{
  flex:1
}



.select{
  flex:2;
  display: flex;
  justify-content:center;
}

.body-container{
  flex:3;
  /* width:100%; */
  /* max-width: 75%; */
  flex-direction:column;
  align-items:flex-start;
  height:100%;
  background-color:#333;

}

.filter{
  display:flex;
  flex-direction: row;
  align-items: center;
  width:100%
}

.icon{
  width:17px;
  fill:white;
  margin-left:10px;
  cursor:pointer;
}

.chart-info{
  width:100%;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  box-sizing: border-box;
  border-top: 3px solid white;
  padding-top: 20px
}

.display-imgs{
  width: fit-content;
  margin-top: 10px;
  /* background-color: white; */
  /* border: 2px solid white */
  border: 2px solid white;
  border-radius: 20px;
  padding:5px;
}

.display-imgs:hover{
  cursor: pointer;
}

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.grid-container iframe {
  height: 100px;
  width: 100px
}

.App-header {
  background-color: #C0C0C0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 10px;
  color: white;
}

.sidebar-container{
  justify-self: flex-end;
  background-color:#333;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex:1;
  opacity: 1;
  min-width: 25%;
  border-left: solid 3px white;
  box-sizing: border-box;
}


.filter-icon{
  cursor: pointer;
}

.switch-container{
  display: flex;
  flex-direction: row;
  align-items: center
}

.sidebar-buttons{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px white;
  padding-bottom: 10px;
}


.select-group{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: solid 1px white;
}

.grid-container{
  display: block;
  justify-content: center;
  align-items: center;
  height:250px;
  overflow: scroll;
  display: block;
   clear: left;
  flex:2
}

.grid-container-overlay{
  justify-content: center;
  align-items: center;
  display: block;
  clear: left;
}


.circle-container {
  display:flex;
  flex-direction: column;
  width: 33%;
  justify-content:center;
  align-items:center;
  margin-bottom:5px;
}

.square{
  height: 70px;
  width: 100px;
  border-radius: 10px;
  background-color: white;
  color: black;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom: 5px;
  cursor: pointer;
}

.circle{
  height: 55px;
  width: 55px;
  border-radius: 50px;
  background-color: white;
  color: black;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom: 5px;
  cursor: pointer;
  align-items: center;
}

.circle-group{
  flex-wrap: wrap;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: solid 1px white;
  justify-content: space-around;
  padding-bottom: 10px;
}


.test{
  width: 100%;
}

.carousel-container div > figure {
  display:flex !important;
  justify-content: center;
  background-color:#f2eecb;
  border-radius: 10px;
  border-color: #7D533E !important; 
  border-width: 2px !important;
  border-style: solid !important;
  -webkit-box-sizing: border-box !important; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.close-div{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 80%;
  padding-bottom:5px
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.chart-container{
  /* height: 100%;  */
  /* width:100%; */
  display:flex;
  align-items: center;
  justify-content: center;
  flex:1;

}

.row{
  flex:1;
  display: flex;
  flex-direction:column;
  justify-content: flex-end;
  align-items:center;
}

.sim-img {
  font-size: 20px;
  padding-bottom: 20px;
  color:red
}

.overlay-container{
  width: 80%;
  height: 50%;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  border-style: solid;
  justify-content: space-around;
  background-color: #333
}

.overlay-image-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size:10pt;
  align-items: center;
  width: 100%;
  height: 100%;
  flex: 1;
}

.close-button{
  position:relative;
  top:0;
  right: 0;
  cursor: pointer;
}

.close-button:hover{
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}


.overlay-left{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  /* padding: 20px */
}

.overlay-right{
  display: flex;
  flex-direction: column;
  width: 50%;
  /* margin-left: 10%; */
}

.overlay-left-image {
  height:auto;
  max-width: 90%;
  max-height: 90%;
}

.overlay-right-image {
  height: auto;
  max-width: 95%;
  max-height: 80%;
}


.carousel-container figure > img {
  /* display: flex; */
  margin-bottom: 10px; 
  width: auto;
  max-height: 140px;
  min-height: 140px;
  max-width: 95%;
}

.carousel-container figure > div {
  /* display: flex; */
  font-size:4.5pt;
  padding: 1px;
  word-wrap: break-word;
  display:flex;
  justify-content: center;
  align-self: center;
  background-color: transparent;
  color: black;

}