.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.carousel-img {
  width: fit-content;
  display: inline-block;
  justify-content: center
}

.App-header {
  background-color: #C0C0C0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  color: white;
}


.carousel-container figure {
  width: 300px !important;
  display:flex !important;
  justify-content: center;
  background-color:#f2eecb;
  border-radius: 10px;
  border-color: #7D533E !important;
  border-width: 2px !important;
  border-style: solid !important;
}



.carousel-container figure > img {
  /* display: flex; */
  margin-bottom: 10px; 
  width: auto;
  max-height: 140px;
  min-height: 140px;
  max-width: 250px
}

.carousel-container figure > div {
  /* display: flex; */
  font-size:4.5pt;
  padding: 1px;
  word-wrap: break-word;
  display:flex;
  justify-content: center;
  align-self: center;
  background-color: transparent;
  color: black
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
