.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  flex:1;
  min-width: 50%;
}

.clear-button{

}

.carousel-img {
  width: fit-content;
  display: inline-block;
  justify-content: center
}

.select-container{
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content:center;
  align-items: center
}

.select-text{
  flex:1
}



.select{
  flex:2;
  display: flex;
  justify-content:center;
}

.body-container{
  flex:3;
  /* width:100%; */
  /* max-width: 75%; */
  flex-direction:'column';
  align-items:flex-start;
  height:100%;
}

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.grid-container iframe {
  height: 100px;
  width: 100px
}

.App-header {
  background-color: #C0C0C0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 10px;
  color: white;
}

.sidebar-container{
  justify-self: flex-end;
  background-color:#333;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex:1;
  opacity: 1;
  min-width: 25%;
}


.filter-icon{
  cursor: pointer;
}

.switch-container{
  display: flex;
  flex-direction: row;
  align-items: center
}

.sidebar-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}


.select-group{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  max-width: 95%;
  justify-content: center;
}

.grid-container{
  display: block;
  justify-content: center;
  align-items: center;
  height:250px;
  overflow: scroll;
  display: block; clear: left;
  flex:2
}


.circle-container {
  display:flex;
  flex-direction: column;
}

.circle{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: white;
  color: black;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom: 5px;
  cursor: pointer;
}

.circle-group{
  /* flex-wrap: wrap; */
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-around;
}


.test{
  width: 100%;
}

.carousel-container div > figure {
  display:flex !important;
  justify-content: center;
  background-color:#f2eecb;
  border-radius: 10px;
  border-color: #7D533E !important; 
  border-width: 2px !important;
  border-style: solid !important;
  -webkit-box-sizing: border-box !important; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.chart-container{
  /* height: 100%;  */
  /* width:100%; */
  margin-top: 5%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex:1
}

.overlay-container{
  width: 95%;
  height: 80%;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  border-style: solid;
  justify-content: space-around;
  background-color: white
}

.overlay-image-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size:10pt;
  align-items: center;
  width: 100%;
  height: 100%;
  flex: 1
}

.overlay-left{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  /* padding: 20px */
}

.overlay-right{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  /* margin-left: 10%; */
}

.overlay-left-image {
  height:auto;
  max-width: 90%;
  max-height: 90%;
}

.overlay-right-image {
  height: auto;
  max-width: 95%;
  max-height: 80%;
}


.carousel-container figure > img {
  /* display: flex; */
  margin-bottom: 10px; 
  width: auto;
  max-height: 140px;
  min-height: 140px;
  max-width: 95%;
}

.carousel-container figure > div {
  /* display: flex; */
  font-size:4.5pt;
  padding: 1px;
  word-wrap: break-word;
  display:flex;
  justify-content: center;
  align-self: center;
  background-color: transparent;
  color: black;

}